<!--
  @file data_collection.launch
  @brief Runs data collection session w/ ground truth, encoder into temp.csv
-->

<launch>

  <include file="$(find neato_node)/launch/bringup.launch" >
    <arg name="host" value="192.168.16.85"/>
  </include>

  <include file="$(find kalman_filter)/launch/apriltags.launch" />
  <include file="$(find warmup_project)/launch/neato_minimal.launch"/>



</launch>
