<!--Make sure the name you give the bag includes the full directory, otherwise it will save in the great beyond-->
<launch>
  <arg name="bag_name" default="ground_truth"/>
  <include file="$(find neato_2dnav)/launch/gmapping_demo.launch"/>

  <node pkg="kalman_filter" type="map_shifter.py" name="map_shifter"/>
  <node pkg="kalman_filter" type="topic_remapper.py" name="topic_remapper"/>

  <node pkg="rosbag" type="record" name="recorder" args="bump odom stable_scan scan accel transformed_map projected_stable_scan rosout rosout_agg cmd_vel tf tf_static map_pose map_pose_continuous imu -o $(arg bag_name)"/>
</launch>
